<!--
  <div class="button-container d-flex justify-content-center ">
    <button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-1f2wnja" (click)="evento()"  tabindex="0" type="button">Ingresar<span class="MuiTouchRipple-root css-w0pj6f"></span></button>
    <button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-14v1o65" tabindex="0" type="button">Crear una cuenta<span class="MuiTouchRipple-root css-w0pj6f"></span></button>
    </div> -->
          <div class="main-menu">
              <header class="header header-default" id="main">
                  <div id="header" class="header collapse">
                      <ul class="header">
                          <li class="active"><a href="#banner">Home</a></li>
                          <li><a href="#about">TIENDA</a></li>
                          <li><a href="#menu">NOVEDADES Y OFERTAS</a></li>
                          <li><a href="#our_team">TEST NUTRICIONAL</a></li>
                          <li><a href="#gallery">SOBRE NOSOTROS</a></li>
                          <li><a href="#blog">BLOG</a></li>
                          <li><a href="#pricing">AYUDA</a></li>
                      </ul>
                  </div>
              </header>
          </div>
      <!-- </div> -->
      <div id="banner" class="banner full-screen-mode parallax" style="background-image: url('../assets/images/Imagen de WhatsApp 2024-03-12 a las 10.08.14_1026e13e.jpg');">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1>Nutri<span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Friends:Family:Officemates" data-colors="red" style="color: rgb(17, 99, 40);">Go</span><span class="cursor" data-cursordisplay="_" data-owner="some-id" style="transition: all 0.1s ease 0s; opacity: 1;">_</span></h1>
                            <h2>Accidental appearances</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <footer class="ngo-footer font-weight-regular">
      <div class="logo">
          <img src="/_nuxt/img/logo-footer.ddffb66.svg" alt="">
      </div>
      <div class="info">
          <div class="contact">
              <p>
                  <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjIxIDAuOTIwMDQ0TDE4LjA5NjcgMS40MDc4NUwxMi44NTE5IDMuNjI3MzZMNi44MTU0MyAxLjM4MzQ2TDYuNTE4NTUgMS4yODU5TDYuMjIxNjggMS40MDc4NUwwLjY4MDAxMyAzLjc0OTMxTDAuMjA5OTYxIDMuOTQ0NDNWMTguOTJMMS4zMjMyNCAxOC40MzIyTDYuNTY4MDMgMTYuMjEyN0wxMi42MDQ1IDE4LjQ1NjZMMTIuOTAxNCAxOC41NTQyTDEzLjE5ODIgMTguNDMyMkwxOC43Mzk5IDE2LjA5MDhMMTkuMjEgMTUuODk1N1YwLjkyMDA0NFpNNy4zMzQ5NiAzLjIzNzEyTDEyLjA4NSA0Ljk5MzIxVjE2LjYwM0w3LjMzNDk2IDE0Ljg0NjlWMy4yMzcxMlpNNS43NTE2MyAzLjI4NTlWMTQuODcxM0wxLjc5MzI5IDE2LjU1NDJWNC45Njg4Mkw1Ljc1MTYzIDMuMjg1OVpNMTcuNjI2NiAzLjI4NTlWMTQuODcxM0wxMy42NjgzIDE2LjU1NDJWNC45Njg4MkwxNy42MjY2IDMuMjg1OVoiIGZpbGw9IiMyMDQyMTEiLz4KPC9zdmc+Cg==">
                  <span>Avenida Cuarto Anillo, Planta baja Centro Comercial Las Brisas, isla de Nutrigo</span>
              </p>
              <p>
                  <img src="/_nuxt/img/icon-whatsapp.407fdd6.svg">
                  <span><a href="https://wa.me/+59161368872?text='Hola NutriGo'" target="_blank">+59161368872</a></span>
              </p>
              <p>
                  <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMyAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iT00gMjAuNTM4NSA4Ljc0NjEzVjIuNDg1MjZIMTQuMjI0NFYxMy4wMjY3SDE2LjYwOTlWMjAuNTM4NEgxOC45Njc1VjguNzQ2MTNIMTguOTY3VjguNzQ2MTNIMTYuNjA5OVpNMi41OTk4MiAxNC4yMjQ0SDEzLjA2MjZWMTcuMzU0OEgyLjU5OTgyVjE0LjIyNDRIMy4yNTI3MloiIGZpbGw9IiMyMDQyMTEiLz4KPC9zdmc+Cg==">
              </p>
          </div>
          <div class="social">
              <a target="_blank" href="https://www.facebook.com/Nutrigobol"><img src="/_nuxt/img/round-icon-facebook.c4a745c.svg" alt=""></a>
              <a target="_blank" href="https://www.instagram.com/nutrigo.com.bo/"><img src="/_nuxt/img/round-icon-instagram.93f2481.svg" alt=""></a>
          </div>
      </div>
      <div class="copyright hidden-sm-and-down">
          <p>Derechos de autor © Todos los derechos reservados. NUTRIGOFIT SRL - NIT: 424645025</p>
      </div>
      <div class="copyright hidden-md-and-up">
          <div>
              <p>Derechos de autor ©</p>
          </div>
          <div>
              <p>Todos los derechos reservados.</p>
          </div>
          <div>
              NUTRIGOFIT SRL - NIT: 424645025
          </div>
      </div>
      </footer>
